#sticky-display {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}

.sticky {
    text-align: left;
    border: 1px solid gray;
    background-color: #f2de78;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr)
}

.sticky-set-done {
    border-radius: 30px !important;
    width: 100px;
    height:40px;
    background-color: #f2de78;
    grid-column: 3;
    grid-row: 1;
}

.editStickyButton {
    border-radius: 30px !important;
    width: 100px;
    height:40px;
    background-color: #f2de78;
    grid-column: 4;
    grid-row: 1;
}