.team-page {
  text-align: center;
}

.sean-image {
  height: 200px;
  width: 200px;
}

.meet-the-team {
  text-align: center;

  font-size: 20px;
}

.sean-blurb {
  font-size: 15px;
}

p {
  font-size: 15px;
}

#team-button {
  text-align: center;
  height: 35px;
  width: 35px;
  text-size-adjust: 5px;
  border-radius: 10%;
}
