.team-page {
  text-align: center;
}

.sean-image {
  height: 200px;
  width: 200px;
}

.meet-the-team {
  text-align: center;

  font-size: 20px;
}

.sean-blurb {
  font-size: 15px;
}

.team-button {
  background-color: red;
  width: 30px;
}
