div.Whiteboard-Div {
    padding-top: 3%;
}

.outsideClick {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 0;
    background-color: rgb(255,255,255, 0.7);

}

.createForm {
    z-index: 10;
    position: relative;
    /* display: block; */
    left: 35%;
    padding-bottom: 2%;
    /* background-color: red; */
}

.createForm form{
    position:inherit;
}