@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


.stickyForm {
    margin-top: 60px;
    font-family: 'Roboto';
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 250px;
    /* background-color:red; */
    align-items: center;
}

#createButton {
    border: none;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    background-color: #1400ab;
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
}

option {
    font-family: 'Roboto'
}
input {
    border-radius: 2px;
    border: 1px solid grey;
    padding-left: 4px;
}