
.done-buttons-row {
	grid-area: 1/1/1/2;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
  }

  .not-done-button {
	border: none;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    background-color: #1400ab;
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
  }